
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');  
 *{
    font-family: 'Poppins', sans-serif;
 }

 .conteiner {
    text-align: center;
    margin-inline: auto;
    max-width: 600px;
 }
 
 .top {
    size: 120%;
    max-width: 600;
    text-align: center;
    margin-inline: auto;
 }

 .number {
   font-size: 3rem;
   text-align: center;
   color: black;
   margin-top: 2rem;
 }

 .pic {
   margin: 0 calc(50% - 350px);
 }

 .testeGreier {

   background-color: coral;
   border: 1px solid black;
   height: 120px;
 }

 .testeGreier h1 {
   text-align: center;
   font-size: 2rem;
 }

 .testeGreier .logo1 {
   position: absolute;
   left: 80%;
   top: -50px;
   width: 200px;
 }

 .testeGreier .logo2 {
   position: absolute;
   left: 5%;
   top: 0px;
   width: 100px;
 }
 .hamartechlogo {
   margin: 0 calc(50% - 200px);
   width: 400px;
 }